<app-header></app-header>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marca</th>
        <th scope="col">Precio</th>
        <th scope="col">ver mas</th>
      </tr>
    </thead>
    <tbody *ngFor="let telefono of telefonos">
      <tr>
        <th scope="row">{{telefono.id}}</th>
        <td>{{telefono.marca}}</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
  
 
  <app-footer></app-footer>